@media screen and (max-width: 479px){
    .wrapper{
        width: 200px;
    }
    .center{
        display: block;
    }
    .header{
        height:200px;
    }
    .header-innner{
        flex-direction: column;
        height: 160px;
    width: 60px;
    margin: 20px 70px 20px 0 ;

    }
    .center-right-inner{
        padding: 20px 0px 20px 30px;
        margin:0;
    }
   .center-left{
    height: 100px;
    width: 200px;
   } 
   .center-right{
       width: 200px;
   }
}